
.container{
   display: flex;
   /* margin-top: 1rem; */
}
.link{
   text-decoration: none;
   color: inherit;
}

.avatarImg{
   width: 2.5rem;
   height: 2.5rem;
   border-radius: 50%;
   object-fit: cover;
   object-position: top;
}
